body {
	background-color: white;
}
pre#source {
	background: linear-gradient(wheat, white);
	background-attachment: local;
	overflow: auto;
	width: 60%;
	min-width: 300px;
	height: 80%;
	min-height: 100px;
	max-height: 400px;
	padding: 0 0.5rem;
}

#renderer {
	white-space: pre-wrap;
}

footer {
	color: grey;
	font-style: italic;
	text-align: right;
	border-top: 1px solid grey;
}
